<div class="header-container debug">
            <header class="wrapper clearfix debug">
                <!-- <h1 class="title font1">Backseat DJ</h1> -->
                <img src="http://i.imgur.com/hsMeLzq.png" width="320">
            </header>
</div>


<!-- <div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Backseat DJ</h1>
        <p class="splash-subhead">
            A fun collaborative playlist maker with friends...
        </p>
          <form action="/users/session" method="get" class="cent" id="login-user">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" name="login" value="Login">
         </form>
         <a href="/users/new" class="cent">Create A New Account</a>

 -->

    <div class="main-container back_img debug">
            <div class="main wrapper clearfix debug">
              <form action="/users/session" method="get" class="cent font2 cent debug">
                    <p><input type="text" name="username" placeholder="username"></p>
                    <p><input type="password" name="password" placeholder="password"></p>
                    <p><input type="submit" name="login" value="Login" class="animate"></p>
                 </form>
                 <p class="cent"><a href="/users/new"  class="font2 fontx2 animate debug cent">Create A New Account</a></p>
            </div>

            <div class="info">

            </div>
    </div>

    <div class="footer-container debug">
            <footer class="wrapper debug">

            </footer>
