<div class="header-container debug">
            <header class="wrapper clearfix debug">
                <!-- <h1 class="title font1">Backseat DJ</h1> -->
                <img src="http://i.imgur.com/hsMeLzq.png" width="320">
            </header>
</div>

<div class="cent debug">
  <button>Create A Playlist</button>
</div>

  <div class="footer-container debug">
            <footer class="wrapper debug">

            </footer>



