<div id="art" class="img">

</div>

<button id="art-button">Art</button>

<button id="up-skip">Up Skip</button>

<button id="down-skip">Down Skip</button>

<div id="skip-count-up"></div>
<div id="skip-count-down"></div>
<div id="skip-count-total"></div>
