<script>
    function reload_js(src) {
        $('script[src="' + src + '"]').remove();
        $('<script>').attr('src', src).appendTo('head');
    }
    reload_js('/js/firebase.js');
</script>


<div class="header-container debug">
            <header class="wrapper clearfix debug">
                <!-- <h1 class="title font1">Backseat DJ</h1> -->
                <img src="http://i.imgur.com/hsMeLzq.png" width="320">
            </header>
</div>


<!-- <button id="art-button">Art</button> -->


<!-- <button id="next-song">Next Song</button> -->

<!-- <button id="up-skip">Skip</button> -->



 <div class="main-container back_img debug">
            <div class="main wrapper clearfix debug">
              <div id="art" class="img cent">
                <img src="http://upload.wikimedia.org/wikipedia/en/9/9f/Big_Bear_'Doin_Thangs'_Album_Cover.jpg" height="250" class="bord box">
              </div>
              <div class="cent">
                <button class="marg" id="up-skip">Skip</button>
                <button class="marg" id="down-skip">Repeat</button>
              </div>
            </div>

            <div class="info cent">
              <div id="skip-count-up"></div>
              <div id="skip-count-down"></div>
              <div id="skip-count-total"></div>
            </div>
 </div>

    <div class="footer-container debug">
            <footer class="wrapper debug">

            </footer>
          </div>
          <!-- // <script src="/js/playlistshow.js"></script> -->
