<div class="header-container debug">
            <header class="wrapper clearfix debug">
                <!-- <h1 class="title font1">Backseat DJ</h1> -->
                <img src="http://i.imgur.com/hsMeLzq.png" width="320">
            </header>
</div>


<!-- <button id="art-button">Art</button> -->





 <div class="main-container back_img debug">
            <div class="main wrapper clearfix debug">
              <div id="art" class="img cent">
              </div>
              <div class="cent">
                <button id="up-skip">Skip</button>
                <button id="down-skip">Don't Skip</button>
              </div>
            </div>

            <div class="info cent">
              <div id="skip-count-up"></div>
              <div id="skip-count-down"></div>
              <div id="skip-count-total"></div>
            </div>
 </div>

    <div class="footer-container debug">
            <footer class="wrapper debug">

            </footer>
