<div class="header-container debug">
            <header class="wrapper clearfix debug">
                <!-- <h1 class="title font1">Backseat DJ</h1> -->
                <img src="http://i.imgur.com/hsMeLzq.png" width="320">
            </header>
</div>

<div class="main-container back_img debug">
            <div class="main wrapper clearfix debug">
              <div class="playlist">
                <% @rep.each do |rep| %>
                <div class="songlist font2 cent">
                <p class="fontx2"><a href="/songs/<%= rep["id"] %>"><%= rep["title"] %></a></p>
                <% end %>
                </div>

                </div>
            </div>

            <div class="info">

            </div>
    </div>

    <div class="footer-container debug">
            <footer class="wrapper debug">

            </footer>
