<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->


  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/trg.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/magic.css">
  <!--
    application.css is where you put your styles
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- -->
  <!-- -->
  <!-- -->
  <!-- -->
  <!-- -->
  <!-- -->

  <!-- <link rel="stylesheet" href="/css/main.css"> -->
<!--   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


 -->  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <link rel="stylesheet" href="/css/application.css"> -->

  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Rajdhani|Carter+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400,500,700|Poller+One|Yeseva+One|Anton|Warnes|Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bangers|Play:400,700' rel='stylesheet' type='text/css'>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <title></title>
</head>
<body>
  <%= yield %>

  <script src="/js/application.js"></script>
  <!-- // <script src="/js/playlistshow.js"></script> -->
  <!-- // <script src="/js/firebase.js"></script> -->
  <!-- // <script src="/js/controller.js"></script> -->
  <script src="/js/magic.js"></script>
</body>
</html>
